{% extends "base.html" %}

{% block additional_headers %}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/homepage.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/colleagues.js"></script>#}
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/teams.js"></script>#}
{#    <link rel="stylesheet/less" href="{{ STATIC_URL }}less/challenges.less" type="text/css" />#}
{% endblock %}


{% block content %}

    <div class="container" id="page">
        <div id="header">
            <div id="title">testbook</div>

            <div id="topmenu">
                home about test
            </div>
        </div>
        <!-- login button -->
        <div class="loginbtn">
            <a href="#" class="loginbutton right">login</a>
        </div>

        <p>finally found a working development environment for python / django / sqlite</p>
        <p>servertime: {{ right_now.hour }}:{{ right_now.minute }}:{{ right_now.second }}</p>
        <p>happy coding :-)</p>

    </div>

    <div class="clear"></div>

    <div id="footer">
        Copyright &copy; 2013 by TestPlus KG.<br/>
        All Rights Reserved.<br/>
    </div>

{% endblock %}