<div id="topmenu">
    <ul>
        {% if user.is_authenticated %}
            <li><a href="/stream">stream</a></li>
            <li><a href="/project">projects</a></li>
        {% else %}
            <li><a href="/home">home</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="/contact">contact</a></li>
        {% endif %}
        <li>
            {% if user.is_authenticated %}
                <a href="/logout">logout {{ user.username }}</a>
            {% else %}
                <a href="/login">sign in</a>
            {% endif %}
        </li>
    </ul>
</div>