{% extends "base.html" %}

{% block additional_headers %}
{% endblock %}

{% block content %}

    <h1>projects</h1>

    <!-- lorem ipsum -->
    <p>wit chocolate malt; adjunct. trappist barrel caramel malt cask conditioned ale. wit goblet hard cider; original gravity brewing brew mash tun. lager aerobic rims chocolate malt oxidized. pitching, yeast abbey cask conditioned ale.
        <br/><br/>crystal malt mouthfeel, bottle conditioning cold filter squares final gravity malt. cask degrees plato cold filter, aerobic bottle conditioning double bock/dopplebock? finishing hops primary fermentation; additive hand pump black malt, seidel black malt. conditioning tank finishing hops lauter cask conditioning; goblet adjunct finishing hops. goblet brewpub hops saccharification aau abv.
        <br/><br/>cask primary fermentation brew kettle pitching bright beer. dextrin finishing hops ester, shelf life gravity dextrin pilsner mash. ester saccharification biere de garde degrees plato barley pitch. oxidized lagering specific gravity, " hefe grainy heat exchanger degrees plato." infusion malt extract mouthfeel bottom fermenting yeast amber aau barleywine, craft beer. biere de garde trappist wort original gravity.
        <br/><br/>pitch biere de garde. malt, " wheat beer glass craft beer."
        <br/><br/>hard cider terminal gravity mash tun bacterial; microbrewery. dunkle gravity lager microbrewery alcohol beer reinheitsgebot infusion trappist. beer copper squares cask brew kettle; pub imperial brew. brewhouse, brewhouse conditioning tank: conditioning tank bottom fermenting yeast pitch. craft beer barley pub, original gravity bunghole dextrin infusion. seidel all-malt barleywine mash.
    </p>

{% endblock %}